
.well {
    margin-top: 20px;
    border: 2px #eee solid;
    text-align: center;
    padding: 10px;
}

.margin-top {
    margin-top: 50px;
}

.img-small {
    width: 50px;
    height: 50px;
}

.margin-sm {
    margin-right: 20px;
    margin-left: 20px;
}

.text-bold {
    font-weight: bold;
}