{% extends 'base.html' %}

{% block content %}
    <div class="margin-top row justify-content-center">
        <h2>Aspect-Weighted Sentiment Analysis</h2>
        <div class="card card-body border-dark bg-light col-md-8">
            <form method="POST">
                <div class="form-group row justify-content-center">
                    <select class="form-control form-control-md col-md-4" name="domain">
                        <option>Select Domain</option>
                        <option value="Restaurant">Restaurant</option>
                        <option value="Movie">Movie</option>
                        <option value="Music">Music</option>
                        <option value="Hotel">Hotel</option>
                    </select>
                </div>
                <div class="form-group row justify-content-center">
                    <textarea class="form-control col-md-10" id="formGroupExampleInput" name="review" placeholder="Enter review">{{ request.form['review'] }}</textarea>
                </div>
                <div class="form-group row justify-content-center">
                    <button type="submit" class="btn btn-dark col-md-4">Predict Sentiment</button>
                </div>
            </form>
        </div>
    </div>
    <div class="margin-top row justify-content-center">
        <div class="card card-body border-dark bg-light col-md-8">
            <h2>Result</h2>
            <table class="table">
                <caption>The row colours show the sentiments of the reviews</caption>
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Domain</th>
                    <th scope="col">Review</th>
                    <th scope="col">Sentiment</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-success text-success">
                    <th scope="row">1</th>
                    <td>Restaurant</td>
                    <td>Review</td>
                    <td>Positive</td>
                  </tr>
                  <tr class="table-success text-success">
                    <th scope="row">1</th>
                    <td>Restaurant</td>
                    <td>Review</td>
                    <td>Positive</td>
                  </tr>
                  <tr class="table-danger text-danger">
                    <th scope="row">1</th>
                    <td>Restaurant</td>
                    <td>Review</td>
                    <td>Positive</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
{% endblock %}

